.container{
    width: 16%;
    min-height: 100vh;
    background-color: rgb(241, 143, 143);
    box-shadow: 1px 1px 1px black;
    margin-right: 2px;

    

}


.logo{
    padding-left: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.side-bar{
    margin-top: 0;
    width: 100%;
    padding: 15px 15px 15px 40px;
    display: flex;
}

.inner-element .side-bar a{
    text-decoration: none;
    color: #838383;
    font-family: inter;
}

.new{
    display: flex;
    gap: 10px;
}

.active-link {
    color: #679FD2 !important;  /* ACTIVE COLOR */
    font-weight: 500;
}

.active-link img {
    filter: brightness(0) saturate(100%) invert(36%) sepia(54%) saturate(618%)
    hue-rotate(179deg) brightness(93%) contrast(88%);
}

.iconn-img{
    width: 24px;
    height: 24px;

}

.text{
    font-size: 14px;
    font-weight: 400;
}
