.dashboard-container{
    width: 100%;
    background-color: black;
    
    /* min-height: 100vh; */
    /* background-color: white; */
    /* box-shadow: 1px 1px 1px rgba(136, 136, 136, 0.3); */

}

