.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 20px;                              
  /* padding: 20px; */
  margin-top: 5px;
  /* background-color: blue; */
}

/* .cards-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;                             
  padding: 20px;
} */

.card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card-img {
  width: 100%;
  height: 140px;
  border-radius: 8px;
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 5px;
  
}

.card-row h4{
  color: #252f40;
  font-family: Lato;
  font-weight: 500;
  font-size: 14px;
}

.card-row .price{
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
  /* font-style: Semi-Bold; */

}

.avatars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  font-size: 13px;
  font-family: Inter;
  font-weight: 500;
  color: #838383;
}

.cart-btn {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  border: none;
  background: white;
  color: #679FD2;
  border: 1px solid #679FD2;;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
}

.cards-wrapper {
  padding: 20px;
}

.cards-title {
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  /* color: #679FD2; */
  /* font-weight: 600; */
  /* margin-bottom: 15px; */
}


.card-img-wrapper {
  position: relative;
}

.card-red {
  position: absolute;
  top: 8px;      /* adjust */
  right:8px;     /* or right: 8px */
  /* width: 25px;   optional */
}
