.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 20px;                              
  /* padding: 20px; */
  margin-top: 5px;
  background-color: blue;
}

/* .cards-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;                             
  padding: 20px;
} */

.card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card-img {
  width: 100%;
  height: 140px;
  border-radius: 8px;
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 5px;
  font-size: 11px;
}

.avatars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  font-size: 11px;
}

.cart-btn {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  border: none;
  background: white;
  color: #679FD2;
  border: 1px solid #679FD2;;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.cards-wrapper {
  padding: 20px;
}

.cards-title {
  font-size: 16px;
  color: #679FD2;
  /* font-weight: 600; */
  /* margin-bottom: 15px; */
}